[submodule "packages/vep-validation-tools"]
	path = packages/vep-validation-tools
	url = https://github.com/Abstract-Data/vep-validation-tools.git
	branch = june25-rework-package
[submodule "packages/vep-ai-validation-tools"]
	path = packages/vep-ai-validation-tools
	url = https://github.com/Abstract-Data/vep-ai-validation-tools.git
	branch = master
[submodule "packages/election-utils"]
	path = packages/election-utils
	url = https://github.com/jreakin/jre-election-utils.git
	branch = main
[submodule "packages/vep-file-loading"]
	path = packages/vep-file-loading
	url = https://github.com/Abstract-Data/vep-file-loading.git
	branch = master
[submodule "packages/state-voterfiles"]
	path = packages/state-voterfiles
	url = git+ssh://git@github.com/Abstract-Data/state-voterfiles.git
